
/.idea
/packages
/builds/build.properties
*.xml~

/vendors

/source/libraries/cmandrill
/source/libraries/compojoom

/source/language/en-GB/en-GB.lib_compojoom.ini
/source/media/lib_compojoom

/source/language/en-GB/en-GB.lib_compojoom.sys.ini
