<?xml version="1.0" encoding="utf-8" ?>
<config>
	<fieldset name="basic"  addfieldpath="/libraries/compojoom/form/fields">
		<field name="library_load" type="loadcompojoom"
		       hidden="true" extension="com_cmandrill" />
		<field name="apiKey" type="text" default="" size="50" label="COM_CMANDRILL_MANDRILL_API_KEY"
			   description="COM_CMANDRILL_MANDRILL_API_KEY_DESC" required="true"/>
		<field name="subaccount" type="subaccounts" default="" label="COM_CMANDRILL_MANDRILL_SUBACCOUNT_LABEL"
			   description="COM_CMANDRILL_MANDRILL_SUBACCOUNT_DESC" addfieldpath="/administrator/components/com_cmandrill/models/fields"/>
		<field name="secure" type="radio" default="0" label="COM_CMANDRILL_MANDRILL_HTTPS" class="btn-group"
			   description="COM_CMANDRILL_MANDRILL_USE_HTTPS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="update_stats" label="LIB_COMPOJOOM_UPDATE_STATS_LABEL"
		       description="LIB_COMPOJOOM_UPDATE_STATS_DESC"
		       class="btn-group" type="radio" default="1">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field type="hidden" name="jed" default="0" />
	</fieldset>


	<fieldset name="permissions"
			  description="JCONFIG_PERMISSIONS_DESC"
			  label="JCONFIG_PERMISSIONS_LABEL"
			>

		<field name="rules" type="rules"
			   component="com_cmandrill"
			   filter="rules"
			   validate="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   section="component"/>
	</fieldset>

</config>